@import "~blaze/scss/objects.panels";
@import "~blaze/scss/objects.grid";
@import "~blaze/scss/objects.grid.responsive";
@import "~blaze/scss/objects.images";

// Grid
.o-grid {
  @for $i from 1 through length($size-names) {
    &--gutter-#{nth($size-names, $i)}{
      > .o-grid__cell {
        padding-left: nth($sizes, $i);
        padding-right: nth($sizes, $i);
      }
    }
  }
}

// Icon
.o-svg-icon {
  display: block;
  width: auto;
  height: 100%;

  @for $i from 1 through length($size-names) {
    &--#{nth($size-names, $i)} {
      width: #{nth($icon-sizes, $i)}px;
      height: #{nth($icon-sizes, $i)}px;
    }
  }
}

// Deck
.o-deck {
  display: flex;
  height: 100%;

  &--orientation-vertical {
    flex-direction: column;
  }

  &__item {
    &--stretch {
      flex: 1;
    }
  }

  @for $i from 1 through length($size-names) {
    &--spacing-#{nth($size-names, $i)}.o-deck--orientation-horizontal {
      > .o-deck__item {
        padding-right: nth($sizes, $i);
      }
    }
    &--spacing-#{nth($size-names, $i)}.o-deck--orientation-vertical {
      > .o-deck__item {
        padding-bottom: nth($sizes, $i);
      }
    }
  }

  &--orientation-horizontal {
    > .o-deck__item:last-child {
      padding-right: 0;
    }
  }

  &--orientation-vertical {
    > .o-deck__item:last-child {
      padding-bottom: 0;
    }
  }
}
