source https://nuget.org/api/v2
redirects: on

nuget FAKE
nuget FAKE.SQL.X64
nuget FSharp.Data

nuget Serilog
nuget Microsoft.Orleans.Core
nuget Microsoft.Orleans.Templates.Interfaces
nuget Microsoft.Orleans.Templates.Grains
nuget Microsoft.Orleans.OrleansRuntime
nuget Microsoft.Orleans.OrleansProviders
nuget Microsoft.Orleans.OrleansSQLUtils
nuget Microsoft.Orleans.Client
nuget Microsoft.Extensions.DependencyInjection.Abstractions prerelease
nuget Microsoft.Owin.Cors
nuget Microsoft.AspNet.SignalR.SelfHost
nuget Polly
nuget MongoDB.Driver
nuget MediatR
nuget Autofac.Owin
nuget Autofac.SignalR