source https://nuget.org/api/v2
redirects: on

nuget System.ValueTuple
nuget Humanizer

# START HACK
# Locked dependency to v1 because of Paket issue https://github.com/fsprojects/Paket/issues/2705
nuget Microsoft.Extensions.Configuration ~> 1
nuget Microsoft.Extensions.Configuration.Abstractions ~> 1
nuget Microsoft.Extensions.Primitives ~> 1
# END HACK

nuget Microsoft.Extensions.Configuration.Binder
nuget Microsoft.Extensions.Configuration.CommandLine
nuget Microsoft.Extensions.Configuration.Json

nuget Microsoft.WindowsAzure.ConfigurationManager
nuget Azure.Batch

nuget Microsoft.Tpl.Dataflow
nuget System.Reactive.Core
nuget System.Reactive.Linq
nuget System.IdentityModel.Tokens.Jwt

nuget Serilog.Sinks.Trace
nuget Serilog.Sinks.Literate
nuget Serilog.Sinks.ElasticSearch
nuget Serilog.Sinks.MongoDB
nuget SerilogMetrics
nuget SerilogTraceListener
nuget DotNetZip
nuget Polly
nuget FluentValidation
nuget JWT
nuget AutoMapper
nuget SimpleInjector
nuget MediatR

nuget MongoDB.Driver
nuget Microsoft.Orleans.OrleansCodeGenerator.Build
nuget Microsoft.Orleans.Server
nuget Microsoft.Orleans.OrleansAzureUtils
nuget Microsoft.Orleans.Client
nuget Orleans.Telemetry.SerilogConsumer

nuget Microsoft.Owin.Cors
nuget Microsoft.Owin.Diagnostics
nuget Microsoft.AspNet.SignalR.Client
nuget Microsoft.AspNet.SignalR.SelfHost
nuget Topshelf
nuget Etg.Yams

group Build
source https://nuget.org/api/v2

nuget FAKE
nuget FSharp.Data
nuget WindowsAzure.Storage
nuget Microsoft.Azure.Storage.DataMovement
nuget Microsoft.WindowsAzure.Management.Libraries
nuget Microsoft.Bcl.Async

group Test
source https://nuget.org/api/v2
nuget Moq
nuget xunit