source https://nuget.org/api/v2
redirects: on

nuget FAKE
nuget FAKE.SQL.X64
nuget FSharp.Data

nuget xunit

nuget System.Threading.Tasks.Dataflow
nuget System.Reactive.Core
nuget System.Reactive.Linq
nuget Polly
nuget FluentValidation

nuget Serilog.Sinks.Literate
nuget MongoDB.Driver
nuget Microsoft.Orleans.OrleansCodeGenerator.Build
nuget Microsoft.Orleans.OrleansRuntime
nuget Microsoft.Orleans.OrleansSQLUtils
nuget Microsoft.Orleans.Client

nuget Microsoft.Extensions.DependencyInjection 1.0.0-rc1-final
nuget Microsoft.Extensions.DependencyInjection.Abstractions 1.0.0-rc1-final

nuget MediatR
nuget Autofac.Owin
nuget Autofac.SignalR
nuget Microsoft.Owin.Cors
nuget Microsoft.AspNet.SignalR.SelfHost
nuget JWT
nuget AutoMapper