@import "./../../theme/mixins";
@import "./../../theme/variables";

$icon-margin: 15%;

.c-planet {
  @include window-box--xsmall;
  position: relative;
  box-sizing: border-box;
  height: 100%;
  line-height: 1;

  &__name {
    text-shadow: 1px 1px $color-black;
  }

  &__icon {
    position: absolute;
    z-index: -1;
    top: $icon-margin;
    left: $icon-margin;
    width: 100% - $icon-margin * 2;
    height: 100% - $icon-margin * 2;
    box-sizing: border-box;
    filter: drop-shadow(2px 2px 5px $color-beige);

  }

  &__planet-properties {
    @include window-box--small;
    background-color: transparentize($color-black, 0.5);
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 0.5em;
  }
}
