{
  "presets": [
    ["env", {
      "loose": true,
      "targets": {
        "browsers": "> 1%"
      },
      "modules": false,
      "useBuiltIns": true
    }],
    ["react"]
  ],
  "sourceMaps": true,
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    }
  }
}
